!
hostname {{ item.hostname }}
!
interface FastEthernet 0/0
 ip address {{ item.address00 }}
 duplex auto
 speed auto
 no shutdown
 exit
!
interface FastEthernet 1/0
 ip address {{ item.address10 }}
 duplex auto
 speed auto
 no shutdown
 exit
!
{% if item.address20 %}
interface FastEthernet 2/0
 ip address {{ item.address20 }}
 duplex auto
 speed auto
 no shutdown
 exit
{% endif %}
!
interface Loopback0
 ip address {{ item.addresslo }}
 duplex auto
 speed auto
 no shutdown
 exit
!
